<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="<%= root_path %>">
        <img src="http://files.plan-a-farm.webnode.pt/200000051-387743971e/450/LOGO%20mini.png" width="100" height="24" />
      </a>
    </div>
    <div class="navbar-end">
      <% if current_agent %>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            <span class="icon">
              <i class="fa fa-user-o"></i>
            </span>
            <span>
              <%= current_agent.email %>
            </span>
          </div>
          <div class="navbar-dropdown">
            <%= link_to "Fornecedores", suppliers_path, class: "navbar-item" %>
            <%= link_to "Logout", destroy_agent_session_path, class: "navbar-item", method: "DELETE" %>
          </div>
        </div>
      <% else %>
        <%= link_to "Login", new_agent_session_path, class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</nav>
